In [7]:
# monthly average AQI value, for the year 2006 for each Defining parameter
# Air Quality Index (AQI)
import pandas as pd
import datetime as datetime
dfAQI = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_cbsa_2006.zip", sep = ',')
dfAQI = dfAQI[['CBSA', 'Date', 'Category', 'AQI', 'Defining Parameter']]
dfAQI['Date'] = pd.to_datetime(dfAQI.Date)
dfAQI['month_year']=dfAQI.Date.dt.to_period('M')
dfAQI = dfAQI.groupby(['month_year','Defining Parameter']).AQI.mean()
dfAQI

month_year  Defining Parameter
2006-01     CO                    17.057143
            NO2                   31.926764
            Ozone                 32.990547
            PM10                  45.456541
            PM2.5                 43.228691
            SO2                   43.840170
2006-02     CO                    15.067114
            NO2                   38.343333
            Ozone                 37.801096
            PM10                  48.200189
            PM2.5                 45.921572
            SO2                   44.249370
2006-03     CO                    12.395210
            NO2                   37.991540
            Ozone                 46.216629
            PM10                  32.751976
            PM2.5                 43.814404
            SO2                   44.645244
2006-04     CO                    15.588235
            NO2                   39.543568
            Ozone                 54.697421
            PM10                  36.065442
            PM2.5                 39.965978
            SO2                   54.972538
2006-05     CO                    15.150000
            NO2                   33.843750
            Ozone                 58.305317
            PM10                  36.640607
            PM2.5                 43.430878
            SO2                   50.363911
                                    ...
2006-08     CO                    13.750000
            NO2                   24.794872
            Ozone                 61.314598
            PM10                  31.486547
            PM2.5                 51.198505
            SO2                   48.748853
2006-09     CO                    20.146341
            NO2                   34.357143
            Ozone                 46.371347
            PM10                  37.909372
            PM2.5                 47.000000
            SO2                   45.892754
2006-10     CO                    17.970297
            NO2                   32.772128
            Ozone                 38.060871
            PM10                  36.172311
            PM2.5                 41.822363
            SO2                   47.605000
2006-11     CO                    17.218605
            NO2                   32.600000
            Ozone                 33.512037
            PM10                  40.791740
            PM2.5                 47.474982
            SO2                   43.860859
2006-12     CO                    16.744275
            NO2                   31.965517
            Ozone                 29.793836
            PM10                  33.545533
            PM2.5                 48.962286
            SO2                   42.404611
Name: AQI, Length: 72, dtype: float64

In [9]:
# Calculating monthly Average AQI value, for the year 20016 for each Defining parameter
# Air Quality Index (AQI)
import pandas as pd
import datetime as datetime
dfAQI = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_cbsa_2016.zip", sep = ',')
dfAQI = dfAQI[['CBSA', 'Date', 'Category', 'AQI', 'Defining Parameter']]
dfAQI['Date'] = pd.to_datetime(dfAQI.Date)
dfAQI['month_year']=dfAQI.Date.dt.to_period('M')
dfAQI = dfAQI.groupby(['month_year','Defining Parameter']).AQI.mean()
dfAQI

month_year  Defining Parameter
2016-01     CO                     7.187500
            NO2                   33.182891
            Ozone                 33.966675
            PM10                  19.665499
            PM2.5                 42.179559
            SO2                   25.886435
2016-02     CO                     4.000000
            NO2                   33.068027
            Ozone                 38.481999
            PM10                  28.818182
            PM2.5                 38.989951
            SO2                   26.831633
2016-03     CO                     8.200000
            NO2                   33.687831
            Ozone                 41.199195
            PM10                  33.313253
            PM2.5                 35.755512
            SO2                   26.833882
2016-04     CO                    26.000000
            NO2                   39.000000
            Ozone                 47.860091
            PM10                  30.042553
            PM2.5                 33.301205
            SO2                   29.637413
2016-05     CO                    51.956522
            NO2                   34.411765
            Ozone                 49.073389
            PM10                  28.670157
            PM2.5                 35.211185
            SO2                   24.917553
                                    ...
2016-07     SO2                   28.751232
2016-08     CO                    16.769231
            NO2                   22.904762
            Ozone                 44.832107
            PM10                  28.009967
            PM2.5                 36.740782
            SO2                   27.508021
2016-09     CO                    31.250000
            NO2                   40.431034
            Ozone                 40.910515
            PM10                  32.619822
            PM2.5                 35.903113
            SO2                   32.419023
2016-10     NO2                   31.268657
            Ozone                 37.610851
            PM10                  36.891613
            PM2.5                 36.708667
            SO2                   32.195011
2016-11     CO                    26.000000
            NO2                   33.113208
            Ozone                 34.745632
            PM10                  32.552163
            PM2.5                 43.210048
            SO2                   25.994932
2016-12     CO                     2.600000
            NO2                   30.385906
            Ozone                 31.074597
            PM10                  25.610063
            PM2.5                 40.818129
            SO2                   23.332353
Name: AQI, Length: 71, dtype: float64

In [3]:
# Calculating Average AQI value Grouped by CBSA, for the year 2006 Category and Defining parameter
# Air Quality Index (AQI)
import pandas as pd
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
dfAQI = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_cbsa_2006.zip", sep= ',')
dfAQI['Date'] = pd.to_datetime(dfAQI.Date)
dfAQI = dfAQI.groupby(['CBSA','Category','Defining Parameter']). AQI.mean()
dfAQI.head(10)

CBSA          Category  Defining Parameter
Aberdeen, SD  Good      PM10                  21.875000
                        PM2.5                 30.479592
              Moderate  PM10                  52.000000
                        PM2.5                 58.000000
Aberdeen, WA  Good      PM2.5                 20.050147
              Moderate  PM2.5                 59.961538
Adjuntas, PR  Good      PM2.5                 25.431579
              Moderate  PM2.5                 59.125000
Adrian, MI    Good      Ozone                 39.380165
              Moderate  Ozone                 71.212766
Name: AQI, dtype: float64

In [4]:
# Calculating Average AQI value Grouped by CBSA, for the year 2016 Category and Defining parameter

import pandas as pd
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
dfAQI = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_cbsa_2016.zip", sep= ',')
dfAQI['Date'] = pd.to_datetime(dfAQI.Date)
dfAQI = dfAQI.groupby(['CBSA','Category','Defining Parameter']). AQI.mean()
dfAQI.head(10)

CBSA          Category  Defining Parameter
Aberdeen, SD  Good      PM10                  26.166667
                        PM2.5                 21.752475
              Moderate  PM10                  61.500000
                        PM2.5                 60.250000
Aberdeen, WA  Good      PM2.5                 22.135211
              Moderate  PM2.5                 58.333333
Adjuntas, PR  Good      PM2.5                 21.588889
              Moderate  PM2.5                 58.571429
Adrian, MI    Good      Ozone                 38.703390
                        PM2.5                 31.017857
Name: AQI, dtype: float64

In [5]:
# mean of monthly AQI  grouped by Defining Parameter for the year 2006
# sorted by mean in descending order
import pandas as pd
import datetime as datetime
dfAQI = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_cbsa_2006.zip", sep= ',')
dfAQI['Date'] = pd.to_datetime(dfAQI.Date)
dfAQI['month_year']=dfAQI.Date.dt.to_period('M')
dfAQI = dfAQI.groupby(['month_year','Defining Parameter']).AQI.agg(['mean', 'max'])
dfAQI =  (dfAQI.sort_values(by='mean', ascending=False))
dfAQI.head(10)

                                    mean  max
month_year Defining Parameter
2006-07    Ozone               69.580810  239
2006-06    Ozone               69.287407  227
2006-08    Ozone               61.314598  222
2006-05    Ozone               58.305317  212
2006-04    SO2                 54.972538  200
           Ozone               54.697421  202
2006-08    PM2.5               51.198505  176
2006-07    PM2.5               50.583822  171
2006-05    SO2                 50.363911  206
2006-12    PM2.5               48.962286  190

In [6]:
# mean of monthly AQI  grouped by Defining Parameter for the year 2016
# sorted by mean in descending order
import pandas as pd
import datetime as datetime
dfAQI = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_aqi_by_cbsa_2016.zip", sep= ',')
dfAQI['Date'] = pd.to_datetime(dfAQI.Date)
dfAQI['month_year']=dfAQI.Date.dt.to_period('M')
dfAQI = dfAQI.groupby(['month_year','Defining Parameter']).AQI.agg(['mean', 'max'])
dfAQI =  (dfAQI.sort_values(by='mean', ascending=False))
dfAQI.head(10)

                                    mean  max
month_year Defining Parameter
2016-06    Ozone               53.555147  212
2016-05    CO                  51.956522   57
2016-06    CO                  51.611111   63
2016-05    Ozone               49.073389  185
2016-07    Ozone               48.345989  217
2016-04    Ozone               47.860091  195
2016-07    CO                  47.272727   53
2016-08    Ozone               44.832107  217
2016-11    PM2.5               43.210048  188
2016-01    PM2.5               42.179559  203